* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Times New Roman', Times, serifs;
    /*border: 1px red solid;*/
    color: #111;
    transition: 250ms;
}

html {
	scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: #f5f3ea;
}

#headline {
    font-size: 3.5vw;
    letter-spacing: 2vw;
    text-align: center;
    background-color: #f5f3ea;
    border-top: 2vh solid #f5f3ea;
    border-bottom: 2vh solid #f5f3ea;
}

#headline hr {
    color: #111;
    background-color: #111;
    height: 0.5vh;
    border: none;
    margin: auto;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #666;
    padding: 5px;
    border-bottom: black 2px solid;
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    z-index: 99999;
}

nav > div {
    display: flex;
    flex-flow: row center;
    justify-content: space-around;
    width: 50vw;
}

nav > div * {
    width: 100%;
	font-family: Calibri;
}

nav > div > h1 {
    color: #EEE;
	font-variant: small-caps;
}

#links {
    display: flex;
    align-items: center;
    gap: 5px;
}

#links > a {
    color: #EEE;
    text-decoration: none;
    font-size: 1.1em;
    text-align: center;
}

#links > a:hover {
	text-decoration: underline;
}

#header-panel {
    height: 70vh;
    padding: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#header-panel > img {
    width: 50%;
    object-fit: contain;
}

#hve {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 5vw;
}

.separator {
    background-color: #666;
    height: 25vh;
    border-bottom: black 2px solid;
}

#articles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#articles .card {
    background: linear-gradient(rgba(151, 149, 149, 0.5), rgba(151, 149, 149, 0.5)), url(https://www.unescap.org/sites/default/d8files/2020-05/Displaced%20Persons%20inSEA.png);
    background-position: center;
    background-size: cover;
    width: 25vw;
    height: 15vw;
    position: relative;
    top: 2.5vw;
    display: flex;
    align-items: flex-end;
    border-bottom: black solid 2px;
}

#articles .card:hover {
    transform: scale(1.05);
    box-shadow: inset #111 0 0 15px;
    border-radius: 5px;
}

#articles .card div {
    background-color: #11111175;
    height: 40%;
    padding: 0.5vw 1vw;
    width: 100%;
    color: #eee;
}

.card h3, .card p {
    color: #eee;
    text-shadow: #111 1px 1px 3px;
}

.card h3 {
    font-size: 1.25vw;
}

.card p {
    font-size: 0.75vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#articles .card:hover div {
    background-color: #11111195;
    height: 60%;
    padding: 1vw;
    width: 100%;
}

#articles .card:hover h3 {
    font-size: 1.5vw;
}

#articles .card:hover p {
    text-overflow: none;
    white-space: wrap;
}

h3 > a {
    color: #eee;
    text-decoration: none;
}

h3 > a:hover {
    color: #aaa;
    text-decoration: underline;
}

#news {
    padding: 7.5vw 5vw 5vw 5vw;
    width: 60vw;
    margin: auto;
}

#news > h1 {
    margin: 0 0 3vw 0;
}

#news > div {
    column-count: 2;
    text-align: justify;
    column-rule-color: #11111125;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-gap: 2vw;
}

#news img {
    width: 100%;
}

.news-separator {
    margin: 2.5vw 0;
}

#news p {
    margin-bottom: 1em;
}

#flipbook {
    width: 100vw;
    height: 100vh;
}

#essay-head {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    letter-spacing: 1.5vw;
}


.headlines {
    font-size: 2.75vw;
}

#news img {
    width: 100%;
    margin: 1vw auto;
    display: block;
    box-shadow: #111 0 2px 5px;
}

#article2 img {
    width: 80%;
}

p {
    font-size: 1.35em;
    line-height: 1.5em;
}

#footer {
    padding: 0.5vw;
    background-color: #111;
    font-size: 0.5em;
}

#footer p {
    color: #eee;
}

@media only screen and (max-width: 1024px) {
    #header-panel img {
        display: none;
    }
    #hve {
        font-size: 10vw;
    }
    #articles {
        flex-direction: column;
        gap: 5vh;
        align-items: center;
        padding: 5vh;
    }
    .separator {
        height: auto;
    }
    #articles .card {
        position: static;
        width: 75vw;
        height: 35vw;
    }
    .card h3 {
        font-size: 3vw;
    }
    
    .card p {
        font-size: 2vw;
    }
    #articles .card:hover h3 {
        font-size: 4vw;
    }
    #news div {
        column-count: 1;
    }
    #news {
        width: 90vw;
        padding: 3vw;
    }
    #news h2 {
        font-size: 5em;
    }
}
